<h1>API Test with Docker</h1>
<hr>

<table>
  <caption>People in the database</caption>
  <thead>
    <tr>
      <th>Name</th><th>Prename</th><th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people | async">
      <td>{{ person.name }}</td><td>{{ person.prename }}</td><td>{{ person.age }}</td>
    </tr>
  </tbody>
</table>
<hr>
<h2>Add new person</h2>
<form (ngSubmit)="createPerson()">
  <label for="name">Name</label>
  <input type="text" name="name" [(ngModel)]="newPerson.name"><br>
  <label for="prename">Prename</label>
  <input type="text" name="prename" [(ngModel)]="newPerson.prename"><br>
  <label for="age">Age</label>
  <input type="number" name="age" [(ngModel)]="newPerson.age"><br>
  <input type="submit" value="Create">
</form>